@use "../../theme" as theme;
@use "../../colors" as colors;

.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 374px;
  gap: 11px;

  .title {
    color: theme.$main-light-1;
    font-size: 16px;
    padding-bottom: 65px;
    text-align: center;
  }

  .teams-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .new-team-container {
    display: flex;
    width: 100%;
    .team-name {
      display: flex;
      border-radius: 5px 0 0 5px;
      border-right: 1px solid theme.$main-dark-1;
    }
    .select {
      display: flex;
      flex-grow: 1;
      border-right: 1px solid theme.$main-dark-1;
    }
    .add {
      border-radius: 0 5px 5px 0;
    }
    input {
      width: 115px;
    }
  }
}
