@use "../../theme" as theme;
@use "../../colors" as colors;

.list-mythic {
  display: flex;
  flex-direction: column;
  width: 310px;
  gap: 20px;

  .title {
    color: theme.$main-light-1;
    font-size: 16px;
    text-align: center;
  }

  .key-labels {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    color: theme.$main-dark-1;

    .plus {
      font-size: 12px;
    }
    .dungeon {
      font-size: 11px;
    }
  }

  .key-input {
    display: flex;
    height: 25px;
    color: theme.$main-light-1;

    input[type="number"] {
      -moz-appearance: textfield;
      appearance: unset;
    }

    .key-input {
      width: 29px;
      font-size: 16px;
      border-radius: 5px 0 0 5px;
      box-sizing: border-box;
      text-align: end;
      padding-right: 5px;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }

    .select-dungeon {
      background-color: theme.$main-dark-2;
      .header {
        font-size: 16px;
      }
      flex-grow: 1;
      border-left: 1px solid theme.$main-dark-1;
      border-right: 1px solid theme.$main-dark-1;
    }

    .add-button {
      border-radius: 0 5px 5px 0;
    }
  }

  .keys {
    margin-top: 12px;
    display: flex;
    gap: 8px;

    .key-container {
      display: flex;

      .key-content {
        display: flex;
        flex-direction: column;

        .key {
          border-radius: 5px 0 0 0;
        }

        button {
          background-color: theme.$main-dark-2;
          border: 0;
          border-radius: 0 0 0 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 25px;
          cursor: pointer;

          &:hover {
            .icon {
              color: colors.$active;
            }
          }

          .icon {
            color: theme.$main-light-1;
          }
        }

        .bottom {
          display: flex;

          .item-select {
            flex-grow: 1;
            border-left: 1px solid theme.$main-dark-1;

            .select,
            .header {
              border-radius: 0 0 5px 0;
            }
          }
        }
      }
    }
  }

  .gear-part-wrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;

    .tabs {
      display: flex;
      gap: 19px;
      justify-content: center;

      .tab {
        color: theme.$main-dark-1;
        font-size: 12px;
        cursor: pointer;
        padding: 1px 10px;
      }

      .active-tab {
        background: theme.$main-dark-4;
        border-radius: 9px;
      }
    }

    .checkbox-content {
      display: flex;

      .role {
        width: 13px;
        display: inline-flex;
        fill: theme.$main-light-1;
        cursor: pointer;
      }
      .active-role {
        fill: colors.$active;
      }

      .gear {
        display: flex;
        flex-direction: column;
        gap: 1px;
        padding: 0 6px;

        .check-rows {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .check-row {
            display: flex;
            align-items: center;
            gap: 10px;

            .empty-check {
              width: 25px;
              height: 25px;
            }

            input {
              border-radius: 5px;
              width: 130px;
            }
          }
        }

        .type-labels {
          display: flex;
          justify-content: flex-end;
          gap: 79px;
          font-size: 10px;
          color: theme.$main-dark-2;
          .left-labels {
            display: flex;

            .armor-label {
              text-align: center;
              width: 36px;
            }
          }
        }
      }

      .class-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
        padding: 0 6px;
        font-size: 11px;
        width: 100%;
        .class-container {
          display: flex;
          .note {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3px;

            .label {
              color: theme.$main-dark-1;
              writing-mode: vertical-rl;
              rotate: 180deg;
              cursor: pointer;
            }
            .recommended-dark {
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: colors.$active-dark;
            }
          }
          .class-content {
            display: flex;
            flex-direction: column;

            .roles {
              display: inline-flex;
              margin-left: 6px;
              gap: 21.5px;
            }

            .class-rows {
              display: flex;
              flex-direction: column;
              gap: 5px;

              .class-row {
                display: flex;
                align-items: center;
                gap: 3px;
                .checks {
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  .empty-check {
                    width: 25px;
                    height: 25px;
                  }
                }
                .class-label {
                  margin-bottom: 1px;
                  text-transform: capitalize;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }

  .button {
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    .icon {
      font-size: 19px;
    }
  }
}
