// General colors
$active: #ef9009;
$active-dark: #543e1f;
$red: #ff4f4f;
$blue: #3385ff;
$green: #42aa5f;
$gray: #898989;

// Class colors
$druid: #ff7c0a;
$paladin: #f48cba;
$monk: #00ff98;
$evoker: #33937f;
$priest: #ffffff;
$shaman: #3366ff;
$mage: #3fc7eb;
$rogue: #fff468;
$hunter: #aad372;
$warlock: #8788ee;
$death-knight: #ff4466;
$demon-hunter: #a330c9;
$warrior: #c69b6d;

// Prio colors from raider.io
// linear-gradient(#ffffff,#a7ff8d,#32f828,#5cce75,#5ba1a9,#357cd0,#6560e4,#a335ee,#d44daa,#f16960,#ff8000)
$prio-1: #ff8000; // Highest prio
$prio-2: #d44daa;
$prio-3: #3d6be0;

$prio-1-dark: #643301;
$prio-2-dark: #531f43;
$prio-3-dark: #192b58;
