// Main shade (main theme)
$main-dark-1: #283845; // Lightest
$main-dark-2: #202c39;
$main-dark-3: #121c24;
$main-dark-4: #0a1015; // Darkest

$main-middle-1: #77a0a9;
$main-middle-2: #a1eeff;

$main-light-1: #ffffff; // Lightest
$main-light-2: #ebebeb;
$main-light-3: #d9d9d9;
$main-light-4: #b1b1b1; // Darkest
