@use "theme" as theme;
@use "colors" as colors;

.app {
  display: flex;

  .wrapper {
    background-color: theme.$main-dark-3;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-left: 46px;
    width: calc(100vw - 46px);
  }
}

.input,
input {
  background-color: theme.$main-dark-2;
  border: none;
  outline: none;
  caret-color: theme.$main-light-5;
  color: theme.$main-light-3;
  font-size: 12px;
  padding-left: 4px;

  &::placeholder {
    color: theme.$main-light-5;
    font-weight: 500;
  }
  &::selection {
    background-color: theme.$main-dark-4;
  }
}

.vl {
  width: 1px;
  background: theme.$main-dark-1;
  height: 24px;
  overflow: visible;
}

.default-bg {
  background: theme.$main-dark-2 !important;
}

.default-bg-hover {
  &:hover {
    background: theme.$main-dark-2 !important;
  }
}

.green {
  color: colors.$green !important;
}

.green-bg {
  background: colors.$green !important;
}

.green-bg-hover {
  &:hover {
    background: colors.$green !important;
  }
}

.blue {
  color: colors.$blue !important;
}

.blue-bg {
  background: colors.$blue !important;
}

.blue-bg-hover {
  &:hover {
    background: colors.$blue !important;
  }
}

.red {
  color: colors.$red !important;
}

.red-bg {
  background: colors.$red !important;
}

.red-bg-hover {
  &:hover {
    background: colors.$red !important;
  }
}

.gray-bg {
  background: colors.$gray !important;
}

.gray-bg-hover {
  &:hover {
    background: colors.$gray !important;
  }
}

.active {
  color: colors.$active !important;
}

.active-bg {
  background: colors.$active !important;
}

.active-bg-hover {
  &:hover {
    background: colors.$active !important;
  }
}

.active-border {
  border-color: colors.$active !important;
}

.druid-border {
  border-color: colors.$druid !important;
}

.paladin-border {
  border-color: colors.$paladin !important;
}

.monk-border {
  border-color: colors.$monk !important;
}

.evoker-border {
  border-color: colors.$evoker !important;
}

.priest-border {
  border-color: colors.$priest !important;
}

.shaman-border {
  border-color: colors.$shaman !important;
}

.mage-border {
  border-color: colors.$mage !important;
}

.rogue-border {
  border-color: colors.$rogue !important;
}

.hunter-border {
  border-color: colors.$hunter !important;
}

.warlock-border {
  border-color: colors.$warlock !important;
}

.death-knight-border {
  border-color: colors.$death-knight !important;
}

.demon-hunter-border {
  border-color: colors.$demon-hunter !important;
}

.warrior-border {
  border-color: colors.$warrior !important;
}

.druid-bg {
  background-color: colors.$druid !important;
}

.paladin-bg {
  background-color: colors.$paladin !important;
}

.monk-bg {
  background-color: colors.$monk !important;
}

.evoker-bg {
  background-color: colors.$evoker !important;
}

.priest-bg {
  background-color: colors.$priest !important;
}

.shaman-bg {
  background-color: colors.$shaman !important;
}

.mage-bg {
  background-color: colors.$mage !important;
}

.rogue-bg {
  background-color: colors.$rogue !important;
}

.hunter-bg {
  background-color: colors.$hunter !important;
}

.warlock-bg {
  background-color: colors.$warlock !important;
}

.death-knight-bg {
  background-color: colors.$death-knight !important;
}

.demon-hunter-bg {
  background-color: colors.$demon-hunter !important;
}

.warrior-bg {
  background-color: colors.$warrior !important;
}

.druid {
  color: colors.$druid;
}

.paladin {
  color: colors.$paladin;
}

.monk {
  color: colors.$monk;
}

.evoker {
  color: colors.$evoker;
}

.priest {
  color: colors.$priest;
}

.shaman {
  color: colors.$shaman;
}

.mage {
  color: colors.$mage;
}

.rogue {
  color: colors.$rogue;
}

.hunter {
  color: colors.$hunter;
}

.warlock {
  color: colors.$warlock;
}

.death-knight {
  color: colors.$death-knight;
}

.demon-hunter {
  color: colors.$demon-hunter;
}

.warrior {
  color: colors.$warrior;
}

.prio-1 {
  background-color: colors.$prio-1;

  &:hover {
    background-color: colors.$prio-1-dark;
  }
}

.prio-2 {
  background-color: colors.$prio-2;

  &:hover {
    background-color: colors.$prio-2-dark;
  }
}

.prio-3 {
  background-color: colors.$prio-3;

  &:hover {
    background-color: colors.$prio-3-dark;
  }
}

.prio-1-dark {
  background-color: colors.$prio-1-dark;

  &:hover {
    background-color: colors.$prio-1;
  }
}

.prio-2-dark {
  background-color: colors.$prio-2-dark;

  &:hover {
    background-color: colors.$prio-2;
  }
}

.prio-3-dark {
  background-color: colors.$prio-3-dark;

  &:hover {
    background-color: colors.$prio-3;
  }
}
