@use "../../theme" as theme;
@use "../../colors" as colors;
.key {
  width: 285px;
  height: 25px;
  display: flex;
  align-items: center;
  contain: content;
  color: theme.$main-light-1;
  font-size: 16px;

  .background {
    display: flex;
    align-items: center;

    img {
      filter: brightness(69%);
      width: 100%;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    padding: 0 4px;
    box-sizing: border-box;

    .level {
      display: flex;
      gap: 2px;
      cursor: pointer;

      .plus {
        font-size: 12px;
      }

      .intime {
        color: colors.$active;
      }
    }
  }

  .name {
    display: flex;
    align-items: center;
    gap: 3px;
    .icon {
      rotate: -30deg;
      font-size: 12px;
    }
  }
}
