@use "../../theme" as theme;
@use "../../colors" as colors;

.select {
  color: theme.$main-light-1;
  font-size: 12px;
  position: relative;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 2px 7px;
    flex-grow: 1;
    cursor: pointer;
    background-color: theme.$main-dark-2;
    height: 100%;
    box-sizing: border-box;

    .selected {
      color: colors.$active;
    }

    .placeholder {
      color: theme.$main-light-5;
    }

    .arrow {
      width: 15px;
      height: 15px;
      font-size: 15px;
      color: theme.$main-light-1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1px;
    background: theme.$main-dark-2;
    border-radius: 0 0 5px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    right: 0;
    top: 24px;

    .item {
      padding: 3px 10px 4px 3px;
      cursor: pointer;
    }

    .selected {
      background: theme.$main-dark-1;
    }
  }
}
