@use "../../theme" as theme;
@use "../../colors" as colors;

.team-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 374px;

  .expanded {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .team-head {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    height: 24px;
    background: theme.$main-dark-2;

    .edit-button {
      border-radius: 0px;
      border-right: 1px solid theme.$main-dark-1;
    }

    .remove-button {
      border-right: 1px solid theme.$main-dark-1;
    }

    .select {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 5px;
      margin-right: 7px;
      min-width: 120px;
      font-size: 13px;
      cursor: pointer;
      flex-grow: 1;

      .left {
        display: flex;
        justify-content: center;
        align-items: center;
        color: colors.$active;
      }

      .right {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;

        .label {
          color: theme.$main-light-1;
        }

        .arrow {
          width: 15px;
          height: 15px;
          font-size: 15px;
          color: theme.$main-light-1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.dropdown {
  padding: 6px 8px;
  background: theme.$main-dark-4;
  border-radius: 0 0 5px 5px;
  width: 100%;
  box-sizing: border-box;

  .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .rows {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding-right: 6px;

      .row {
        display: flex;
        gap: 6px;
        .user {
          width: 80px;
          display: flex;
          gap: 4px;
          align-items: center;
          justify-content: flex-end;
          box-sizing: border-box;

          .crown {
            width: 14px;
            height: 14px;
            display: flex;
            align-items: center;
            justify-content: center;

            .edit {
              fill: none;
              stroke: theme.$main-dark-2;
              cursor: pointer;
            }

            .leader {
              fill: colors.$active;
            }
          }
          .name {
            font-size: 12px;
            color: colors.$active;
            font-weight: 600;
            text-transform: capitalize;
          }
        }

        .active-blc {
          border-left-color: colors.$active !important;
        }

        .blue-blc {
          border-left-color: colors.$blue !important;
        }

        .red-blc {
          border-left-color: colors.$red !important;
        }

        .green-blc {
          border-left-color: colors.$green !important;
        }

        .characters {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          border-left: 1px solid colors.$active;

          .team-mate {
            color: theme.$main-light-1;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 1.5px 0 1.5px 4px;

            .icons {
              display: flex;
              gap: 12px;
              align-items: center;
              .cross {
                display: flex;
                width: 8px;
                height: 8px;
                justify-content: center;
                align-items: center;

                &:hover {
                  color: colors.$red;
                }
                .remove-character {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }

    .add-panel {
      display: flex;

      .username {
        border-radius: 5px 0 0 5px;
        padding: 2px 6px 2px 4px;
        width: 86px;
        text-align: right;
        box-sizing: border-box;

        &::placeholder {
          font-weight: 600;
        }
      }

      .right {
        border-left: 1px solid theme.$main-dark-1;
        flex-grow: 1;
        display: flex;

        .character {
          flex-grow: 1;
          border-radius: 0;
        }
        .buttons {
          display: flex;

          .roles {
            padding: 0 6px;
            background-color: theme.$main-dark-2;
            border-right: 1px solid theme.$main-dark-1;
            border-left: 1px solid theme.$main-dark-1;
          }

          .add {
            padding: 0 3px;
            border-radius: 0 5px 5px 0;
          }
        }
      }
    }

    .roles {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3px;

      .role {
        width: 12px;
        height: 12px;
        fill: theme.$main-light-1;
        cursor: pointer;
      }
      .active {
        fill: colors.$active;
      }
      .inactive {
        cursor: default;
      }
    }
  }
}
